@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

:root {
  font-family: "Roboto Flex", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh !important;
}

.svc-scroll__wrapper {
  height: 100vh !important;
  overflow: scroll !important;
}

/* Fix for unwanted text cursor */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  caret-color: transparent;
}

/* Only show text cursor in input fields, textareas and contenteditable elements */
input,
textarea,
[contenteditable="true"] {
  caret-color: auto;
}
